<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade GUI</title>

    <link rel="stylesheet" href="/stylesheets/gui.css">

    <script src="/javascripts/mustache/mustache.js"></script>
    <script src="/javascripts/gui.js"></script>
</head>

<body>
    <div>{{wld}} - {{title}}</div>

    <div class="popup">
        <div class="popup_value" id="waifu_popup"></div>
    </div>

    <div class="series_outer">
        {{{series}}}
    </div>

    <button id="btn_trade">trade</button>
</body>

</html>