<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bongo</title>

    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <div id="bongo">
        <div class="header">trade</div>

        <form action="./trade" method="post">
            <input type="text" id="input_wld" class="inline" name="wld" value="{{wld}}"
                placeholder="https://haste.bongo.best/*.txt" pattern="https://haste.bongo.best/[\w]{10}.txt" required>

            <button type="submit" id="button_submit" class="inline">trade</button>
        </form>

        <div class="header">compare</div>

        <form action="./compare" method="post">
            <input type="text" id="input_wld" class="inline" name="new_wld" placeholder="https://haste.bongo.best/*.txt"
                pattern="https://haste.bongo.best/[\w]{10}.txt" required>

            <button type="submit" id="button_submit" class="inline">compare</button>

            <br>

            <input type="text" id="input_wld" class="inline" name="old_wld" value="{{wld}}"
                placeholder="https://haste.bongo.best/[\w]{10}.txt" required>
        </form>
    </div>
</body>

</html>