<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade</title>

    <link rel="stylesheet" href="/stylesheets/series.css">
    <link rel="stylesheet" href="/stylesheets/trade.css">

    <script src="/javascripts/mustache/mustache.js"></script>
    <script src="/javascripts/trade.js"></script>
</head>

<body>
    <div>{{title}} - {{wld}}</div>

    <div class="grid h">
        <div class="series_outer">
            {{{series}}}
        </div>

        <div class="grid v">
            <div id="waifu_info"></div>

            <div id="div_controls">
                <div>
                    <input type="text" id="input_filter" placeholder="filter">
                </div>

                <div>
                    <input type="checkbox" id="ckb_complete" value="complete">
                    <label for="ckb_complete">complete</label>
                </div>

                <button id="btn_analysis">analysis</button>

                <button id="btn_trade">trade</button>
            </div>
        </div>
    </div>
</body>

</html>