.grid {
    display: grid;
    height: 100%;
    width: 100%;
    column-gap: 0.5em;
}

.grid.h {
    grid-template-columns: auto 15vw;
}

.grid.v {
    grid-template-rows: auto auto;
}

.series_outer {
    margin-top: 1vh;
    height: 90vh;
    overflow-y: auto;
}

.series {
    width: 100%;
}

.waifus_outer {
    margin-bottom: 1em;
    height: max-content;
    width: 100%;
    overflow-x: auto;
}

.waifus_inner {
    height: 1.75em;
    width: max-content;
}

.waifu {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    height: 1.5em;
    width: max-content;
}

.checked {
    background-color: green;
}

.filtered,
.complete {
    visibility: hidden;
    max-height: 0;
}

#waifu_info>img {
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 25vh;
}

table {
    width: 100%;
    text-align: left;
}

#div_controls {
    margin-top: auto;
}

#div_controls>* {
    margin-top: 0.5em;
}

#btn_analysis {
    height: 3vh;
    width: 100%;
}

#btn_trade {
    height: 9vh;
    width: 100%;
}