html {
    background-color: black;
    color: lightgray;
}

.inline {
    display: inline;
}

#bongo {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.header {
    margin-top: 1em;
    text-align: center;
}

input {
    margin-top: 0.25em;
    width: 20em;
}

button {
    width: 5em;
}