.series {
    width: 100%;
}

.waifus_outer {
    margin-bottom: 1em;
    height: max-content;
    width: 100%;
    overflow-x: auto;
}

.waifus_inner {
    height: 1.75em;
    width: max-content;
}

.waifu {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    height: 1.5em;
    width: max-content;
}