.grid {
    display: grid;
    height: 100%;
    width: 97.5%;
    column-gap: 1.25%;
}

.grid.h {
    grid-template-columns: auto 15vw;
}

.grid.v {
    grid-template-rows: auto auto;
}

.series_outer {
    margin-top: 1vh;
    height: 90vh;
    overflow-y: auto;
}

.checked {
    background-color: green;
}

.filtered,
.complete {
    visibility: hidden;
    max-height: 0;
}

#waifu_info>img {
    margin-top: 1vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 25vh;
}

table {
    width: 100%;
    text-align: left;
}

#div_controls {
    margin-top: auto;
}

#div_controls>* {
    margin-top: 0.5em;
}

#btn_analysis {
    height: 3vh;
    width: 100%;
}

#btn_trade {
    height: 9vh;
    width: 100%;
}